<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>About Us - CIT MSc Programs</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <link href="/static/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://unpkg.com/bs-brain@2.0.3/components/processes/process-1/static/css/process-1.css">

    <link href="/static/css/style.css" rel="stylesheet">
    <style>

    </style>
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <a href="index.html"><img src="/static/img/logo.png" alt="" class="img-fluid"></a>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About Us</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="col-lg-12 pt-4 pt-lg-0 content " data-aos="fade-up">
                <h3>About CIT MSc Programs</h3>
                <p class="fst-italic">
                    Coimbatore Institute of Technology offers a range of five-year integrated MSc programs, providing
                    students with an immersive and comprehensive learning experience in various fields of
                    study.
                </p>
                <br>
                <h4>MSc Programs Offered:</h4>
                <ul>
                    <li>M.Sc. Software Systems</li>
                    <li>M.Sc. Data Science</li>
                    <li>M.Sc. Artificial Intelligence & Machine Learning</li>
                    <li>M.Sc. Decision and Computing Sciences</li>
                </ul>
                <h4>Programme Details:</h4>
                <ul>
                    <li>Programme Duration: 5 Years</li>
                    <li>Programme Fee: Rs. 73,600/- for the first semester</li>
                    <li>Admission Fee: Rs. 4,200/- (once at the time of admission)</li>
                    <li>Sanctioned Strength for each Programme: 60</li>
                </ul>
                <h4>Eligibility Criteria:</h4>
                <p>
                    Applicants must have passed the HSC/equivalent exam with Mathematics, Physics, and Chemistry as
                    subjects of study. However, candidates with an aggregate of 75% and above in Mathematics,
                    Physics, and Chemistry or Computer Science are eligible to apply.
                </p>
                <br>
                <h4>Admission Process:</h4>
                <ul>
                    <li>CIT – M.Sc. Entrance Test at designated centres in Coimbatore, Chennai, Madurai, Trichy, and
                        Tirunelveli.</li>
                    <li>Interview at CIT for shortlisted candidates.</li>
                    <li>Evaluation based on HSC Board Exam Marks.</li>
                </ul>
            </div>
        </div>
    </section><!-- End About Us Section -->

    <!-- Vendor JS Files -->
    <script src="/static/vendor/aos/aos.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/static/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/static/js/main.js"></script>

    <script src="/static/js/cheeq.js"></script>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


</body>

</html>