<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>CIT - MSc</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <link href="static/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://unpkg.com/bs-brain@2.0.3/components/processes/process-1/static/css/process-1.css">

    <link href="static/css/style.css" rel="stylesheet">
    <style>

    </style>
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <a href="index.html"><img src="static/img/logo.png" alt="" class="img-fluid"></a>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="/about">About Us</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <section id="hero" class="hparallax pt-5 pb-5">

        <div class="container">
            <div class="row d-flex align-items-center h-100 " style="text-align-last:left;height: 700px;">
                <div class="col-lg-6 py-5 py-lg-0 order-2 order-lg-1 " data-aos="fade-right">
                    <h1>Welcome to the Portal of Coimbatore Institute of Technology's MSc Admission</h1>
                    <h2 id="typing-text1" style="line-height: 1.5;"> </h2>
                    <a href="#check" class="btn-get-started scrollto">Get Started</a>
                </div>

                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
                    <img src="static/img/hero-img.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>

    </section><!-- End Hero -->

    <main id="main">


        <section class="py-3 py-md-5 py-xl-8">
            <div class="container">
                <div class="row gy-5 gy-lg-0 align-items-lg-center">
                    <div class="section-title">
                        <h2 data-aos="fade-in">Admission Process</h2>
                    </div>
                    <div class="col-12 col-lg-6" data-aos="fade-right">
                        <img class="img-fluid rounded" loading="lazy" src="./static/img/info.png"
                            alt="Our Design Process">
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="row justify-content-xl-end " data-aos="fade-left">

                            <div class="col-12 col-xl-11">
                                <div class="d-flex mb-4">
                                    <div>
                                        <span class="btn btn-red bsb-btn-circle pe-none me-4">1</span>
                                    </div>
                                    <div>
                                        <h4 class="mb-3">Read the instructions</h4>
                                        <p class="mb-0 text-secondary">Please read the instructions carefully before
                                            proceeding. These guidelines are designed to ensure a smooth and efficient
                                            application process for all candidates. Failure to adhere to the
                                            instructions may result in delays or rejection of your application.</p>
                                    </div>
                                </div>
                                <div class="d-flex mb-4">
                                    <div>
                                        <span class="btn btn-red bsb-btn-circle pe-none me-4">3</span>
                                    </div>
                                    <div>
                                        <h4 class="mb-3">Check Eligibility</h4>
                                        <p class="mb-0 text-secondary">Ensure you meet the eligibility criteria by
                                            entering your academic marks. This step allows us to evaluate your
                                            qualifications and determine your eligibility for admission to Coimbatore
                                            Institute of Technology's prestigious MSc program.</p>
                                    </div>
                                </div>
                                <div class="d-flex mb-4">
                                    <div>
                                        <span class="btn btn-red bsb-btn-circle pe-none me-4">2</span>
                                    </div>
                                    <div>
                                        <h4 class="mb-3">Submission of Personal and Academic Details</h4>
                                        <p class="mb-0 text-secondary">Once the student meets the eligibility criteria,
                                            it is of utmost importance that they meticulously furnish their personal
                                            details, as well as their 10th and 12th-grade marks, ensuring accuracy
                                            throughout the process.</p>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div>
                                        <span class="btn btn-red bsb-btn-circle pe-none me-4">4</span>
                                    </div>
                                    <div>
                                        <h4 class="mb-3">Payment Verification and Follow-Up</h4>
                                        <p class="mb-0 text-secondary">After completing the details, the student is
                                            required to proceed with the payment. Upon successful payment, an email will
                                            be sent to the student outlining the subsequent steps in the admission
                                            process.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>
    <section id="check">
        <div class="section-title">
            <h2 data-aos="fade-in">Eligibility Checker</h2>
        </div>

        <div data-aos="fade-up" class="row justify-content-center align-items-center">
            <div class="col col-sm-8 col-md-8 col-lg-12 col-xl-10 bg-white p-5 border rounded" style="width: 70%;">
                <h5><b>Select stream:</b></h5>
                <div class="strm">
                    <div class="container courses">
                        <div class="course">
                            <div class="pill black" onclick="toggleColor('Science')">
                                <div class="text">Science</div>
                            </div>
                            <div class="pill white" onclick="toggleColor('Arts')">
                                <div class="text">Arts</div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>


                <div class="tab-content ">
                    <div class="tab-pane fade show active" id="pills-science" role="tabpanel"
                        aria-labelledby="tab-login">
                        <form id="marks" method="post" name="form_data">
                            <input id='eid' name="email_id" type="hidden" class="form-contrl" value="{{email_id}}">


                            <div class="form-outline mb-4">
                                <label class="form-label" for="streamName">
                                    <h5><b>You are eligible for:</b></h5>
                                </label>
                                <div id="scienceCourses" class="container courses">
                                    <div class="course listings" id="firstRow">
                                        <p>M.Sc. (Sofware Systems)</p>
                                        <p>M.Sc. (Data Science)</p>
                                        <p>M.Sc. (Artificial Intelligence And Machine Learning)</p>
                                        <p>M.Sc. (Decision and Computing Sciences)</p>
                                    </div>
                                </div>

                                <div id="artsCourses" class="container courses" style="display: none;">
                                    <div class="course listings" id="firstRow">
                                        <p>M.Sc. (Decision and Computing Sciences)</p>
                                    </div>
                                </div><br><br>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="loginName">
                                        <h5 style="margin-right: 30px;"><b>Enter Your Phone Number:</b></h5>
                                    </label>
                                    <input id='10' name="ph_no" type="number" class="form-contrl"
                                        style="text-align:left" placeholder="99999999" required>
                                </div>

                                <!--<div class="container courses">
                                    <div class="course listings" id="firstRow">
                                        <p>M.Sc. (Sofware Systems)</p>
                                        <p>M.Sc. (Data Science)</p>
                                        <p>M.Sc. (Artificial Intelligence And Machine Learning)</p>
                                        <p>M.Sc. (Decision and Computing Sciences)</p>
                                    </div>
                                </div>-->
                                <!--<div class="form-outline mb-4">
                                    <label class="form-label" for="loginName">
                                        <h5><b>Enter Your marks</b></h5>
                                    </label>
                                    <br>
                                    <br>
                                    <div class="row g-3">
                                        <div class="col-sm-7">
                                            <p><b>Subjects</b></p>
                                        </div>
                                        <div class="col-sm">
                                            <p><b>Marks Obtained</b></p>
                                        </div>
                                        <div class="col-sm">
                                            <p><b>Total marks</b></p>
                                        </div>
                                    </div> <br>
                                    <div class="row g-3">
                                        <div class="col-sm-7" id="13">
                                            <input id='1' name="first_subject" type="text" class="form-contrl"
                                                value="Maths" readonly />
                                        </div>
                                        <div class="col-sm">
                                            <div data-mdb-input-init class="form-outline">
                                                <input type="number" name="first_subject_marks_obtained" id="2"
                                                    oninput="checkRange(this)" class="form-contrl" placeholder="100"
                                                    required />
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="form-outline">
                                                <input type="number" name="first_subject_total_marks" id="3"
                                                    class="form-contrl" placeholder="100" required />
                                            </div>
                                        </div>
                                    </div><br>
                                    <div class="row g-3">
                                        <div class="col-sm-7" id="14">
                                            <input id='4' class="form-contrl" type="text" name="second_subject"
                                                value="Physics" readonly />
                                        </div>
                                        <div class="col-sm">
                                            <div data-mdb-input-init class="form-outline">
                                                <input type="number" name="second_subject_marks_obtained" id="5"
                                                    oninput="checkRange(this)" class="form-contrl" placeholder="100"
                                                    required />
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div data-mdb-input-init class="form-outline">
                                                <input type="number" name="second_subject_total_marks" id="6"
                                                    class="form-contrl" placeholder="100" required />
                                            </div>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row g-3">
                                        <div class="col-sm-7" id="15">
                                            <input id='7' class="form-contrl" type="text" name="third_subject"
                                                value="Chemistry" readonly />

                                        </div>
                                        <div class="col-sm">
                                            <div data-mdb-input-init class="form-outline">
                                                <input type="number" name="third_subject_marks_obtained" id="8"
                                                    oninput="checkRange(this)" class="form-contrl" placeholder="100"
                                                    required />
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div data-mdb-input-init class="form-outline">
                                                <input type="number" name="third_subject_total_marks" id="9"
                                                    class="form-contrl" placeholder="100" required />
                                            </div>
                                        </div>
                                    </div><br>

                                    <div class="row g-3">
                                        <div class="col-sm-7" id="16">
                                            <select name="fourth_subject" id='10' type="text" class="form-contrl"
                                                required>
                                                <option value="" selected disabled>Select Subject</option>
                                                <option value="Computer Science">Computer Science</option>
                                                <option value="Information Practices">Information Practices</option>
                                            </select>
                                        </div>
                                        <div class="col-sm">
                                            <div data-mdb-input-init class="form-outline">
                                                <input type="number" id="11" name="fourth_subject_marks_obtained"
                                                    oninput="checkRange(this)" class="form-contrl" placeholder="100"
                                                    required />
                                            </div>
                                        </div>


                                        <div class="col-sm">
                                            <div data-mdb-input-init class="form-outline">
                                                <input type="number" name="fourth_subject_total_marks" id="12"
                                                    class="form-contrl" placeholder="100" required />
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <label class="form-label" for="loginName">
                                    <h5 style="margin-right: 30px;"><b>Enter Your marks:</b></h5>
                                </label>
                                <table class="form-outline mb-4">
                                    <tr>
                                        <th>
                                            <p><b>Subjects</b></p>
                                        </th>
                                        <th>
                                            <p><b>Marks Obtained</b></p>
                                        </th>
                                        <th>
                                            <p><b>Total marks</b></p>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td id="13">
                                            <input id='1' name="first_subject" type="text" class="form-contrl"
                                                value="Maths" readonly />
                                        </td>
                                        <td>
                                            <div data-mdb-input-init class="form-outline">
                                                <input type="number" name="first_subject_marks_obtained" id="2"
                                                    oninput="checkRange(this)" class="form-contrl" value="0" required />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-outline">
                                                <input type="number" name="first_subject_total_marks" id="3"
                                                    class="form-contrl" value="100" required />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="14">
                                            <input id='4' class="form-contrl" type="text" name="second_subject"
                                                value="Physics" readonly />
                                        </td>
                                        <td>
                                            <div data-mdb-input-init class="form-outline">
                                                <input type="number" name="second_subject_marks_obtained" id="5"
                                                    oninput="checkRange(this)" class="form-contrl" value="0" required />
                                            </div>
                                        </td>
                                        <td>
                                            <div data-mdb-input-init class="form-outline">
                                                <input type="number" name="second_subject_total_marks" id="6"
                                                    class="form-contrl" value="100" required />
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td id="15">
                                            <input id='7' class="form-contrl" type="text" name="third_subject"
                                                value="Chemistry" readonly />

                                        </td>
                                        <td>
                                            <div data-mdb-input-init class="form-outline">
                                                <input type="number" name="third_subject_marks_obtained" id="8"
                                                    oninput="checkRange(this)" class="form-contrl" value="0" required />
                                            </div>
                                        </td>
                                        <td>
                                            <div data-mdb-input-init class="form-outline">
                                                <input type="number" name="third_subject_total_marks" id="9"
                                                    class="form-contrl" value="100" required />
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td id="16">
                                            <select name="fourth_subject" id='10' type="text" class="form-contrl"
                                                required>
                                                <option value="" selected disabled>Select Subject</option>
                                                <option value="Computer Science">Computer Science</option>
                                                <option value="Information Practices">Information Practices</option>
                                            </select>
                                        </td>
                                        <td>
                                            <div data-mdb-input-init class="form-outline">
                                                <input type="number" id="11" name="fourth_subject_marks_obtained"
                                                    oninput="checkRange(this)" class="form-contrl" value="0" required />
                                            </div>
                                        </td>
                                        <td>
                                            <div data-mdb-input-init class="form-outline">
                                                <input type="number" name="fourth_subject_total_marks" id="12"
                                                    class="form-contrl" value="100" required />
                                            </div>
                                        </td>
                                    </tr>
                                </table>



                                <input type="text" style="display: none;" id="status" name="Stream" value="Science" />
                                <input type="text" style="display: none;" id="eligib" name="Eligibility" value="" />
                                <div style="display: flex;flex-direction: row;justify-content: space-between;">
                                    <button type="submit" onclick="checkValues(event)" class="custom-btn">
                                        Check for
                                        eligibility</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
            <p><b>Status:</b><span id="eligibility"></span></p>
            <div class="submit-btn" id="pdbutton"><a id="myLink" class="disabled-link" href='/personal_details'>Proceed
                    to Apply</a></div>
        </div>
    </section>

    <!-- ======= Footer ======= -->
    <footer id="footer" class="fparallax">
        <div class="footer-top">

            <div class="container contact" data-aos="fade-up">

                <div class="section-title">
                    <h2 style="color: white;">Contact</h2>
                </div>

                <div class="row">

                    <div class="col-lg-12">

                        <div class="row">
                            <div class="col-md-4">
                                <a href="https://maps.app.goo.gl/DA4g3ikQ55e1nRyHA" target="_blank">
                                    <div class="info-box" data-aos="fade-up">
                                        <i class="bx bx-map"></i>
                                        <h3>Our Address</h3>
                                        <p>Civil Aerodrome Post,<br>Coimbatore, Tamilnadu, India - 641 014</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="mailto:principal.citoffice@cit.edu.in">
                                    <div class="info-box" data-aos="fade-up" data-aos-delay="100">
                                        <i class="bx bx-envelope"></i>
                                        <h3>Email Us</h3>
                                        <p>principal.citoffice@cit.edu.in</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="tel:+914222574071">
                                    <div class="info-box" data-aos="fade-up" data-aos-delay="100">
                                        <i class="bx bx-phone-call"></i>
                                        <h3>Call Us</h3>
                                        <p>+91-422-2574071</p>
                                    </div>
                                </a>
                            </div>

                        </div>

                    </div>



                </div>

            </div>
        </div>

        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>Department of Computing</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Developed by AABR
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="static/vendor/aos/aos.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/static/js/main.js"></script>

    <script src="/static/js/cheeq.js"></script>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


</body>

</html>